.catalogue {

  .catalogue__header {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 20px;

    .sort {
      background-color: rgb(245, 245, 245);
      padding: 3px 10px;
      border-radius: 7px;
      outline: none;
      transition: 0.5s;
      cursor: pointer;
    }

    .search {
      background-color: rgb(245, 245, 245);
      padding: 3px 10px;
      border-radius: 7px;
      outline: none;
      transition: 0.5s;
      border: 1px solid;
    }
  }

  .catalogue__container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .not__found {
      color: red;
      font-size: 20px;
    }
  }
}
