.catalogue {
  .catalogue__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 20px;

    .sort {
      cursor: pointer;
    }

    .search {
      border: 1px solid;
    }

    .sort,
    .search {
      background-color: rgb(245, 245, 245);
      padding: 3px 10px;
      border-radius: 7px;
      outline: none;
      transition: all 0.4s ease-out;

      &:hover,
      &:focus {
        background-color: #9fe5e1;
      }
    }
  }

  .catalogue__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .not__found {
      margin-top: 50px;
      text-align: center;
      font-family: 'Prata', Arial, sans-serif;
      font-size: 32px;
      font-weight: 400;
    }
  }
}