.product {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(169, 149, 169, 0.2);
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
  width: 250px;
  height: auto;

  .title {
    font-size: 0.9em;
    text-align: center;
    padding-bottom: 5px;
  }

  .description__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-7);
    border-top: 1px solid var(--color-7);

    font-size: 0.8em;

    .characteristic {
      margin-bottom: 5px;

      span {
        font-size: 1.1em;
      }
    }

    .product__image {
      border-radius: 10px;
      width: 170px;
      height: 190px;
    }
  }

  .buttons {
    font-size: 0.9em;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 10px;
    flex-grow: 2;

    .product__button {
      text-align: center;
      border: 1px solid var(--color-7a);
      padding: 3px;
      border-radius: 7px;
      width: 30%;
      transition: all 0.3s ease;

      &:hover,
      &:focus {
        color: var(--color-hover);
      }

      &:active {
        color: var(--color-active);
        scale: 1.01;
        box-shadow: 4px 4px 8px 0px rgba(103, 107, 111, 0.2);
      }
    }
  }
}