.footer {
  display: flex;
  justify-content: flex-end;
  max-width: 1440px;
}

.footerContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
}

.course {
  align-self: flex-end;
  background-image: url('./icons/rs_school_js.svg');
  min-width: 80px;
  background-repeat: no-repeat;
  height: 32px;
  opacity: 0.8;
  transition: 0.4s;
}
.year {
  font-size: 20px;
  text-align: center;
  margin-right: 10px;
}

.github {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-right: 10px;
  opacity: 0.85;
  transition: 0.4s;
}

.githubLogo {
  width: 32px;
  height: 32px;
  margin-left: 5px;
}

.github:hover,
.course:hover {
  opacity: 1;
}

.github:active,
.course:active {
  scale: 1.05;
}
