.section_header {
  margin-bottom: 15px;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 10px;

  button {
    text-align: center;
    border: 1px solid var(--color-7a);
    padding: 3px;
    border-radius: 7px;
    width: 40%;
    transition: all 0.3s ease;
    margin-bottom: 18px;

    &:hover {
      color: var(--color-hover);
    }

    &:focus {
      color: var(--color-hover);
    }

    &:active {
      color: var(--color-active);
      scale: 1.01;
      box-shadow: 4px 4px 8px 0px rgba(103, 107, 111, 0.2);
    }
  }
}
