.not__found {
  height: 50vh;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-family: 'Prata', Arial, sans-serif;
  font-size: 32px;
  font-weight: 400;
}

.not__found_title {
  text-align: center;
  font-size: 180px;
  font-weight: 600;
}
